*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.lampak {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    width: 340px; 
}

.lampa {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    transition: all 0.3s ease;
    cursor: pointer;
}

.zold {
    background-color: #28a745; 
    box-shadow: 0 0 15px 5px rgba(40, 167, 69, 0.8); 
}

.sarga {
    background-color: #ffc107; 
    box-shadow: 0 0 15px 5px rgba(255, 193, 7, 0.8); 
}

.lampa:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.6);
}


.kiemelt{
    font-size: 30px;
    color: #28a745;
    font-weight: bold;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: rgb(190, 190, 190);
    text-align: center;

}


.ujra
{
    text-align: center;
    margin: 10px;
}

.gomb {
    border: none;
    color: #a1bba7;
    background-color: #565656;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}
  
.gomb:hover{
    background-color: #7b7b7b;
}